body {
    font-family: 'Roboto Condensed', sans-serif;  
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #EFF4E4; 

}

li {
    list-style: none;
}

h1 {
    color:#053542;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #E69896;
}

a:hover {
    color: #053542;
}

h2 {
    font-size: 90px;
}

/*------------------------ 2 Home ------------------------*/
.main {
    display: table;
    width: 100%;
    position: relative;
}

.main:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    opacity: .85;
    position: absolute;
     
}

.main-title {
    font-size: 24px;
    line-height: 28px;
    color: black;
    font-weight: 300;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 25%;
    left: 25%;
}


.hello {
    color: red;
    line-height: 51px;
    font-size: 100%;

}

.main-content {
    padding: 10px 60px;
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
    text-align: left;
}

.main-content h2 {
    padding: 60px 30px;
    text-align: left;
}

header {
    position: fixed;
    padding: 30px;
    top: 0;
    left: 80%;
    z-index: 2;
}
